env/
educa/static/admin/css/autocomplete.css
educa/static/admin/css/base.css
educa/static/admin/css/changelists.css
educa/static/admin/css/dark_mode.css
educa/static/admin/css/dashboard.css
educa/static/admin/css/forms.css
educa/static/admin/css/login.css
educa/static/admin/css/nav_sidebar.css
educa/static/admin/css/responsive.css
educa/static/admin/css/responsive_rtl.css
educa/static/admin/css/rtl.css
educa/static/admin/css/vendor/select2/LICENSE-SELECT2.md
educa/static/admin/css/vendor/select2/select2.css
educa/static/admin/css/vendor/select2/select2.min.css
educa/static/admin/css/widgets.css
educa/static/admin/img/LICENSE
educa/static/admin/img/README.txt
educa/static/admin/img/calendar-icons.svg
educa/static/admin/img/icon-addlink.svg
educa/static/admin/img/icon-alert.svg
educa/static/admin/img/icon-calendar.svg
educa/static/admin/img/icon-changelink.svg
educa/static/admin/img/icon-clock.svg
educa/static/admin/img/icon-deletelink.svg
educa/static/admin/img/icon-hidelink.svg
educa/static/admin/img/icon-no.svg
educa/static/admin/img/icon-unknown-alt.svg
educa/static/admin/img/icon-unknown.svg
educa/static/admin/img/icon-viewlink.svg
educa/static/admin/img/icon-yes.svg
educa/static/admin/img/inline-delete.svg
educa/static/admin/img/search.svg
educa/static/admin/img/selector-icons.svg
educa/static/admin/img/sorting-icons.svg
educa/static/admin/img/tooltag-add.svg
educa/static/admin/img/tooltag-arrowright.svg
educa/static/admin/js/SelectBox.js
educa/static/admin/js/SelectFilter2.js
educa/static/admin/js/actions.js
educa/static/admin/js/admin/DateTimeShortcuts.js
educa/static/admin/js/admin/RelatedObjectLookups.js
educa/static/admin/js/autocomplete.js
educa/static/admin/js/calendar.js
educa/static/admin/js/cancel.js
educa/static/admin/js/change_form.js
educa/static/admin/js/collapse.js
educa/static/admin/js/core.js
educa/static/admin/js/filters.js
educa/static/admin/js/inlines.js
educa/static/admin/js/jquery.init.js
educa/static/admin/js/nav_sidebar.js
educa/static/admin/js/popup_response.js
educa/static/admin/js/prepopulate.js
educa/static/admin/js/prepopulate_init.js
educa/static/admin/js/theme.js
educa/static/admin/js/urlify.js
educa/static/admin/js/vendor/jquery/LICENSE.txt
educa/static/admin/js/vendor/jquery/jquery.js
educa/static/admin/js/vendor/jquery/jquery.min.js
educa/static/admin/js/vendor/select2/LICENSE.md
educa/static/admin/js/vendor/select2/i18n/af.js
educa/static/admin/js/vendor/select2/i18n/ar.js
educa/static/admin/js/vendor/select2/i18n/az.js
educa/static/admin/js/vendor/select2/i18n/bg.js
educa/static/admin/js/vendor/select2/i18n/bn.js
educa/static/admin/js/vendor/select2/i18n/bs.js
educa/static/admin/js/vendor/select2/i18n/ca.js
educa/static/admin/js/vendor/select2/i18n/cs.js
educa/static/admin/js/vendor/select2/i18n/da.js
educa/static/admin/js/vendor/select2/i18n/de.js
educa/static/admin/js/vendor/select2/i18n/dsb.js
educa/static/admin/js/vendor/select2/i18n/el.js
educa/static/admin/js/vendor/select2/i18n/en.js
educa/static/admin/js/vendor/select2/i18n/es.js
educa/static/admin/js/vendor/select2/i18n/et.js
educa/static/admin/js/vendor/select2/i18n/eu.js
educa/static/admin/js/vendor/select2/i18n/fa.js
educa/static/admin/js/vendor/select2/i18n/fi.js
educa/static/admin/js/vendor/select2/i18n/fr.js
educa/static/admin/js/vendor/select2/i18n/gl.js
educa/static/admin/js/vendor/select2/i18n/he.js
educa/static/admin/js/vendor/select2/i18n/hi.js
educa/static/admin/js/vendor/select2/i18n/hr.js
educa/static/admin/js/vendor/select2/i18n/hsb.js
educa/static/admin/js/vendor/select2/i18n/hu.js
educa/static/admin/js/vendor/select2/i18n/hy.js
educa/static/admin/js/vendor/select2/i18n/hy.js
educa/static/admin/js/vendor/select2/i18n/id.js
educa/static/admin/js/vendor/select2/i18n/is.js
educa/static/admin/js/vendor/select2/i18n/it.js
educa/static/admin/js/vendor/select2/i18n/ja.js
educa/static/admin/js/vendor/select2/i18n/ka.js
educa/static/admin/js/vendor/select2/i18n/km.js
educa/static/admin/js/vendor/select2/i18n/ko.js
educa/static/admin/js/vendor/select2/i18n/lt.js
educa/static/admin/js/vendor/select2/i18n/lv.js
educa/static/admin/js/vendor/select2/i18n/mk.js
educa/static/admin/js/vendor/select2/i18n/ms.js
educa/static/admin/js/vendor/select2/i18n/nb.js
educa/static/admin/js/vendor/select2/i18n/ne.js
educa/static/admin/js/vendor/select2/i18n/nl.js
educa/static/admin/js/vendor/select2/i18n/pl.js
educa/static/admin/js/vendor/select2/i18n/ps.js
educa/static/admin/js/vendor/select2/i18n/pt-BR.js
educa/static/admin/js/vendor/select2/i18n/pt.js
educa/static/admin/js/vendor/select2/i18n/ro.js
educa/static/admin/js/vendor/select2/i18n/ru.js
educa/static/admin/js/vendor/select2/i18n/sk.js
educa/static/admin/js/vendor/select2/i18n/sl.js
educa/static/admin/js/vendor/select2/i18n/sq.js
educa/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
educa/static/admin/js/vendor/select2/i18n/sr.js
educa/static/admin/js/vendor/select2/i18n/sv.js
educa/static/admin/js/vendor/select2/i18n/th.js
educa/static/admin/js/vendor/select2/i18n/tk.js
educa/static/admin/js/vendor/select2/i18n/tr.js
educa/static/admin/js/vendor/select2/i18n/uk.js
educa/static/admin/js/vendor/select2/i18n/vi.js
educa/static/admin/js/vendor/select2/i18n/zh-CN.js
educa/static/admin/js/vendor/select2/i18n/zh-TW.js
educa/static/admin/js/vendor/select2/select2.full.js
educa/static/admin/js/vendor/select2/select2.full.min.js
educa/static/admin/js/vendor/xregexp/LICENSE.txt
educa/static/admin/js/vendor/xregexp/xregexp.js
educa/static/admin/js/vendor/xregexp/xregexp.min.js
educa/static/debug_toolbar/css/print.css
educa/static/debug_toolbar/css/toolbar.css
educa/static/debug_toolbar/js/history.js
educa/static/debug_toolbar/js/redirect.js
educa/static/debug_toolbar/js/timer.js
educa/static/debug_toolbar/js/toolbar.js
educa/static/debug_toolbar/js/utils.js
educa/static/redisboard/admin.css
educa/static/rest_framework/css/bootstrap-theme.min.css
educa/static/rest_framework/css/bootstrap-tweaks.css
educa/static/rest_framework/css/bootstrap.min.css
educa/static/rest_framework/css/default.css
educa/static/rest_framework/css/font-awesome-4.0.3.css
educa/static/rest_framework/css/prettify.css
educa/static/rest_framework/docs/css/base.css
educa/static/rest_framework/docs/css/highlight.css
educa/static/rest_framework/docs/css/jquery.json-view.min.css
educa/static/rest_framework/docs/js/api.js
educa/static/rest_framework/docs/js/highlight.pack.js
educa/static/rest_framework/docs/js/jquery.json-view.min.js
educa/static/rest_framework/fonts/fontawesome-webfont.svg
educa/static/rest_framework/fonts/glyphicons-halflings-regular.svg
educa/static/rest_framework/js/ajax-form.js
educa/static/rest_framework/js/bootstrap.min.js
educa/static/rest_framework/js/coreapi-0.1.1.js
educa/static/rest_framework/js/csrf.js
educa/static/rest_framework/js/default.js
educa/static/rest_framework/js/jquery-3.7.1.min.js
educa/static/rest_framework/js/load-ajax-form.js
educa/static/rest_framework/js/prettify-min.js
*.sock
educa/ssl/educa.key
educa/ssl/educa.crt